body {
    font-family: 'Inter', sans-serif;
    background-color: #fdfaf6; /* Light cream background */
    color: #331a00; /* Dark brown text */
}

.header-font {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
/* Custom scrollbar for a more refined look */
::-webkit-scrollbar {
    width: 0px;
}
